# config files
config.json

# data
data/log.txt
data/trade_signals*
data/signals_and_positions*

# venv
venv/
venvwin/

# byte compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# distribution / packaging
build/
dist/
*.egg-info

# other files/dirs
ai/
misc/
setup-aws/
mz.session*
session_name*
