# config files
config.json

# data
data/log.txt
data/trade_signals*

# venv
venv/
venvwin/

# byte compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# distribution / packaging
build/
dist/
*.egg-info

# other files/dirs
ai/
setup-aws/
mz.session*
session_name*
convert_json.py